
@{
    ViewBag.Title = "FormArticulosAgregar";
}

<h2>FormArticulosAgregar</h2>


@ViewBag.Mensaje @* esto es para desplegar el mensaje de Error*@

<p>
    @Html.ActionLink("Nuevo", "FormArticuloNuevo")
    @Html.ActionLink("Volver", "Principal", "Home")

</p>


